@{
	string? theme = Context.Request.Cookies["theme"];
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "" : " - ")Echo</title>
		<meta name="author" content="Dustyn"/>
		<meta name="description" content="@ViewData["Description"]"/>
		<meta name="robots" content="index, follow">
		<meta property="og:type" content="website">
		<meta property="og:url" content="@ViewData["currentUrl"]">
		<meta name="twitter:description" content="@ViewData["Description"]">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="@ViewData["Title"]">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script type="module" src="/js/base.js"></script>
		<script type="module" src="/js/theme.js"></script>
		@await RenderSectionAsync("Head", required: false)
		@if (!string.IsNullOrEmpty(theme))
		{
			if (theme == "dark")
			{
				<link rel="stylesheet" href="/css/dark.css"/>
			}
			else if (theme == "light")
			{
				<link rel="stylesheet" href="/css/light.css"/>
			}
			else
			{
				<link rel="stylesheet" href="/css/dark.css"/>
			}
		}
		<link rel="stylesheet" href="/css/base.css"/>
	</head>
	<body translate="no">
		@await Component.InvokeAsync("CultureSwitcher")
		@RenderBody()
		<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
