<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "" : " - ")Echo</title>
		<meta name="author" content="Dustyn"/>
		<meta name="description" content="@ViewData["Description"]"/>
		<meta name="robots" content="index, follow">
		<meta property="og:type" content="website">
		<meta property="og:url" content="@ViewData["currentUrl"]">
		<meta name="twitter:description" content="@ViewData["Description"]">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="@ViewData["Title"]">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">
		@await RenderSectionAsync("Head", required: false)
		<link rel="stylesheet" href="/css/base.css"/>
	</head>
	<body translate="no">
		@await Component.InvokeAsync("CultureSwitcher")
		@RenderBody()
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
