@{
	string? theme = Context.Request.Cookies["theme"];
	string? intro = Context.Request.Cookies["intro"];
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]@(string.IsNullOrWhiteSpace(ViewData["Title"]?.ToString()) ? "" : " - ")Echo</title>
		<meta name="author" content="Dustyn"/>
		<meta name="description" content="@ViewData["Description"]"/>
		<meta name="robots" content="index, follow">
		<meta property="og:type" content="website">
		<meta property="og:url" content="@ViewData["currentUrl"]">
		<meta name="twitter:description" content="@ViewData["Description"]">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="@ViewData["Title"]">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script type="module" src="/js/base.js"></script>
		<script type="module" src="/js/theme.js"></script>
		@await RenderSectionAsync("Head", required: false)
		@if (!string.IsNullOrEmpty(theme))
		{
			if (theme == "dark")
			{
				<link rel="stylesheet" href="/css/dark.css"/>
			}
			else if (theme == "light")
			{
				<link rel="stylesheet" href="/css/light.css"/>
			}
			else
			{
				<link rel="stylesheet" href="/css/dark.css"/>
			}
		}
		else
		{
			<link rel="stylesheet" href="/css/dark.css"/>
		}
		<link rel="stylesheet" href="/css/base.css"/>
		<link rel="stylesheet" href="/css/intro.css"/>
		<script type="module" src="/js/intro.js" defer></script>
		<script src="/js/dropdown.js" defer></script>
	</head>
	<body translate="no">
		@if (string.IsNullOrEmpty(intro))
		{
		<div class="intro">
			<svg class="intro-title" width="300.7" height="71.604" viewBox="0 0 300.7 71.604" xmlns="http://www.w3.org/2000/svg">
				<g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke-width="0.5mm">
					<path class="intro-letter" d="M 0 67.304 L 9.7 67.304 L 9.7 1.704 L 58.8 1.704 L 58.8 12.804 L 21.5 12.804 L 21.5 31.304 L 55 31.304 L 55 41.804 L 21.5 41.804 L 21.5 60.504 L 60 60.504 L 60 67.304 L 69.7 67.304 L 69.7 71.604 L 0 71.604 L 0 67.304 Z" id="intro0" vector-effect="non-scaling-stroke"/>
					<path class="intro-letter" d="M 125.9 67.304 L 139 67.304 L 139 71.604 L 65.4 71.604 L 65.4 67.304 L 87.6 67.304 Q 79.7 62.604 75.15 54.504 A 35.764 35.764 0 0 1 70.722 39.494 A 43.557 43.557 0 0 1 70.6 36.204 A 36.583 36.583 0 0 1 73.432 21.652 A 34.809 34.809 0 0 1 81.25 10.404 A 36.16 36.16 0 0 1 104.662 0.128 A 48.068 48.068 0 0 1 108.15 0.004 A 35.909 35.909 0 0 1 125.048 3.96 A 37.019 37.019 0 0 1 135.3 12.004 L 127.8 20.204 A 46.425 46.425 0 0 0 124.277 17.128 Q 122.451 15.699 120.704 14.689 A 21.891 21.891 0 0 0 118.35 13.504 A 22.767 22.767 0 0 0 113.184 12.021 Q 110.867 11.63 108.25 11.605 A 37.467 37.467 0 0 0 107.9 11.604 A 27.054 27.054 0 0 0 98.429 13.211 A 24.192 24.192 0 0 0 90.1 18.454 Q 82.9 25.304 82.9 35.954 A 26.111 26.111 0 0 0 84.578 45.45 A 23.814 23.814 0 0 0 90.05 53.754 A 24.315 24.315 0 0 0 98.395 59.333 A 23.386 23.386 0 0 0 107 60.904 A 30.457 30.457 0 0 0 111.928 60.525 Q 114.704 60.07 117.025 59.067 A 18.504 18.504 0 0 0 117.5 58.854 A 27.913 27.913 0 0 0 121.427 56.591 Q 123.276 55.329 125.191 53.666 A 53.256 53.256 0 0 0 126.7 52.304 L 134.3 60.104 Q 130.931 63.779 127.797 66.047 A 26.484 26.484 0 0 1 125.9 67.304 Z" id="intro1" vector-effect="non-scaling-stroke"/>
					<path class="intro-letter" d="M 216.7 71.604 L 216.7 67.304 L 207 67.304 L 207 1.704 L 195.2 1.704 L 195.2 32.004 L 160.5 32.004 L 160.5 1.704 L 148.7 1.704 L 148.7 71.604 L 160.5 71.604 L 160.5 43.004 L 195.2 43.004 L 195.2 71.604 L 216.7 71.604 Z M 148.7 71.604 L 148.7 67.304 L 139 67.304 L 139 71.604 L 148.7 71.604 Z" id="intro2" vector-effect="non-scaling-stroke"/>
					<path class="intro-letter" d="M 277.8 67.304 L 300.7 67.304 L 300.7 71.604 L 216.7 71.604 L 216.7 67.304 L 239.6 67.304 Q 231.4 62.604 226.65 54.404 A 35.559 35.559 0 0 1 221.919 37.359 A 42.214 42.214 0 0 1 221.9 36.104 Q 221.9 20.704 232.5 10.354 A 35.95 35.95 0 0 1 258.214 0.006 A 46.677 46.677 0 0 1 258.7 0.004 Q 274.3 0.004 284.9 10.354 A 34.417 34.417 0 0 1 295.494 35.384 A 44.238 44.238 0 0 1 295.5 36.104 Q 295.5 46.104 290.75 54.404 Q 286 62.704 277.8 67.304 Z M 276.25 18.204 A 23.385 23.385 0 0 0 259.347 10.811 A 28.811 28.811 0 0 0 258.7 10.804 A 23.982 23.982 0 0 0 247.562 13.378 A 24.486 24.486 0 0 0 241.15 18.204 Q 234 25.604 234 36.154 Q 234 46.704 241.15 54.104 A 23.385 23.385 0 0 0 258.053 61.496 A 28.811 28.811 0 0 0 258.7 61.504 A 23.982 23.982 0 0 0 269.838 58.929 A 24.486 24.486 0 0 0 276.25 54.104 Q 283.4 46.704 283.4 36.154 Q 283.4 25.604 276.25 18.204 Z" id="intro3" vector-effect="non-scaling-stroke"/>
				</g>
			</svg>
		</div>
		}
		@await Component.InvokeAsync("CultureSwitcher")
		@RenderBody()
		<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
