@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@using Echo.Resources

@inject IHtmlLocalizer<SharedResources> Localizer

<nav class="navbar">
	<ul class="navbar-nav">
		<li class="logo">
			<a href="@Url.RouteUrl("Index")" class="nav-link">
				<i class="nav-icon uil uil-code-branch"></i>
				<span class="link-text">@Localizer["Home"]</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.RouteUrl("Profile")" class="nav-link">
				<i class="nav-icon uil uil-chat-bubble-user"></i>
				<span class="link-text">@Localizer["Profile"]</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.RouteUrl("Logout")" class="nav-link">
				<i class="nav-icon uil uil-signout"></i>
				<span class="link-text">@Localizer["Logout"]</span>
			</a>
		</li>
	</ul>
</nav>
