@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@using Echo.Controllers
@using Echo.Models

@model List<User>

@inject IStringLocalizer<IndexController> _

@{
	Layout = "/Controllers/Shared/_Layout.cshtml";
	
	ViewData["Title"] = _["Main"];
	ViewData["Description"] = _["Main"];
	ViewData["currentUrl"] = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}{ViewContext.HttpContext.Request.Path}{ViewContext.HttpContext.Request.QueryString}";

	var links = new List<NavbarLink>
	{
		new NavbarLink { RouteName = "Index", IconClass = "uil-code-branch", Text = _["Home"] },
		new NavbarLink { RouteName = "Profile", IconClass = "uil-chat-bubble-user", Text = _["Profile"] },
		new NavbarLink { RouteName = "Chats", IconClass = "uil-chat", Text = _["Chats"] },
		new NavbarLink { RouteName = "Logout", IconClass = "uil-signout", Text = _["Logout"] }
	};
}

@section Head {
	<link rel="stylesheet" href="/css/index.css"/>
}

@section Scripts {
	<script type="module" src="/js/api.js"></script>
}


@await Component.InvokeAsync("Navbar", new { links = links, viewContext = ViewContext })
<main>
	<div class="container">
		<h1 class="header">@_["Users"]</h1>
		@if (Model.Count == 0)
		{
		<div class="placeholder">@_["No users yet"]</div>
		}
		else
		{
		<div class="users">
			@foreach (var user in Model)
			{
			<a class="user" href="@Url.RouteUrl("UUIDProfile", new { guid = user.Id })">
				<i class="input-icon uil uil-user user-icon"></i>
				<div id="@user.Id" class="info">
					<div class="name">@user.Name</div>
					<div class="username">@user.UserName</div>
				</div>
			</a>
			}
		</div>
		}
	</div>
</main>
