@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@using Echo.Controllers
@using Echo.Models

@model List<User>

@inject IStringLocalizer<IndexController> Localizer

@{
	Layout = "/Controllers/Shared/_Layout.cshtml";
	
	ViewData["Title"] = Localizer["Profile"];
	ViewData["Description"] = Localizer["Profile"];
	ViewData["currentUrl"] = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}{ViewContext.HttpContext.Request.Path}{ViewContext.HttpContext.Request.QueryString}";

	var links = new List<NavbarLink>
	{
		new NavbarLink { RouteName = "Index", IconClass = "uil-code-branch", Text = "Home" },
		new NavbarLink { RouteName = "Chats", IconClass = "uil-chat" },
		new NavbarLink { RouteName = "Logout", IconClass = "uil-signout" }
	};
}

@section Head {
	<link rel="stylesheet" href="/css/profile.css"/>
}

@section Scripts {
	<script type="module" src="/js/chat.js"></script>
}

@await Component.InvokeAsync("Navbar", new { links = links, viewContext = ViewContext })
<main>
	<div class="container">
		<div class="profile">
			<div class="header">
				<div class="image" style="background-image: url('@Localizer[ViewBag.ProfileImagePath]');">
					<div class="overlay editProfilePicture">
						<i class="uil uil-image-edit"></i>
					</div>
				</div>
				<div class="info">
					<div class="name">@Localizer[ViewBag.Name]</div>
					<div class="username">@Localizer[ViewBag.UserName]</div>
				</div>
				<div class="buttons">
					<i class="uil uil-edit btn"></i>
				</div>
			</div>
			<div class="main" style="white-space: break-spaces;">
				@foreach (var friend in Model)
				{
					<tr>
						<td>@friend.Name</td>
						<td>@friend.UserName</td>
					</tr>
				}
			</div>
		</div>
	</div>
</main>
