@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@using Echo.Controllers
@using Echo.Models

@model List<Chat>

@inject IStringLocalizer<ChatController> _

@{
	Layout = "/Controllers/Shared/_Layout.cshtml";
	
	ViewData["Title"] = _["Chats"];
	ViewData["Description"] = _["Chats"];
	ViewData["currentUrl"] = $"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}{ViewContext.HttpContext.Request.Path}{ViewContext.HttpContext.Request.QueryString}";

	var links = new List<NavbarLink>
	{
		new NavbarLink { RouteName = "Index", IconClass = "uil-code-branch", Text = "Home" },
		new NavbarLink { RouteName = "Profile", IconClass = "uil-chat-bubble-user" },
		new NavbarLink { RouteName = "Logout", IconClass = "uil-signout" }
	};
}

@section Head {
	<link rel="stylesheet" href="/css/chats.css"/>
}

@section Scripts {
	<script type="module" src="/js/api.js"></script>
}


@await Component.InvokeAsync("Navbar", new { links = links, viewContext = ViewContext })
<main>
	<div class="container">
		<h1 class="header">@_["Chats"]</h1>
		@if (Model.Count == 0)
		{
		<div class="placeholder">@_["No chats yet"]</div>
		}
		else
		{
		<div class="chats">
			@foreach (var chat in Model)
			{
				var lastMessage = chat.Messages.OrderByDescending(m => m.CreatedAt).FirstOrDefault();
			<a class="chat" href="">
				<i class="input-icon uil uil-chat chat-icon"></i>
				<div id="@chat.Id" class="info">
					<div class="name">@chat.Name</div>
					<div class="message">
					@if (lastMessage != null)
					{
						<div class="content">@lastMessage.User.UserName: @lastMessage.Content</div>
						<div class="date">@lastMessage.CreatedAt.ToString("g")</div>
					}
					else
					{
						<div class="content">@_["No messages yet"]</div>
						<div class="date">@_["N/A"]</div>
					}
					</div>
				</div>
			</a>
			}
		</div>
		}
	</div>
</main>
